<div class="container">
    <div class="row p-3">
        <div class="col-4">
            <button class="w-100 my-2" [disabled]="loadingJoke" mat-raised-button color="accent" (click)="getRandomJoke()">
                Actualizar Chiste
                <mat-spinner diameter="15" *ngIf="loadingJoke" class="d-inline"></mat-spinner>
            </button>

            <ul class="list-group" *ngIf="!loadingJoke">
                <li class="list-group-item cursor-pointer menu" *ngFor="let category of categories"
                    (click)="setActualCategory(category)" [ngClass]="actualCategory === category ? 'active-item': ''">
                    {{category | titlecase}}
                    <span *ngIf="actualCategory === category">(Activo)</span>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <div class="media" *ngIf="actualJoke">
                <img [src]="actualJoke.icon_url" class="mr-3" alt="joke">
                <!--<img [src]="actualJoke?.icon_url" class="mr-3" alt="joke"> Si actualJoke viene indefinido podemos colocar que es ?-->
                <div class="media-body">
                  <h5 class="mt-0">Actual Joke</h5>
                  <p>{{actualJoke.value}}</p>
                  <small>Fecha de Creación: <b>{{ (actualJoke.created_at | date: 'fullDate') | uppercase}}</b></small>
                  <small>Fecha de Modificación: <b>{{actualJoke.updated_at | formatDate: 'LTS' | uppercase}}</b></small>
                  <!--<p>{{3000 | currency: 'EUR'}}</p>
                  <p>{{3000}}</p>-->
                </div>
            </div>
            <div class="mt-2 border border-primary rounded p-3">
                <mat-form-field class="w-100">
                    <mat-label>Filtrar chistes por:</mat-label>
                    <input matInput #filterInput>
                    <mat-icon matSuffix class="text-primary">search</mat-icon>
                    <mat-spinner matSuffix diameter="15" *ngIf="loadingFilteredJokes"></mat-spinner>
                </mat-form-field>

                <div class="mt-2 p-2" *ngIf="resulSetQuery">
                    <h2>total jokes: <b>{{resulSetQuery.total}}</b></h2>
                    <div>
                        <mat-paginator  [length]="resulSetQuery.total"
                                        [pageSize]="page_size"
                                        [pageSizeOptions]="pageSizeOptions"
                                        (page)="handlePage($event)">
                        </mat-paginator>
                    </div>
                    <ng-container *ngFor="let jokes of resulSetQuery.result | paginate:page_size:page_number; let indx = index">
                        <div class="media border border-warning my-1">
                            <img [src]="jokes.icon_url" class="mr-3" alt="joke">
                            <!--<img [src]="jokes?.icon_url" class="mr-3" alt="joke"> Si jokes viene indefinido podemos colocar que es ?-->
                            <div class="media-body">
                              <h2 class="mt-0">Joke {{indx + 1}}</h2>
                              <p>{{jokes.value}}</p>
                              <small>Fecha de Creación: <b>{{ (jokes.created_at | date: 'fullDate') | uppercase}}</b></small>
                              <small>Fecha de Modificación: <b>{{jokes.updated_at | formatDate: 'LTS' | uppercase}}</b></small>
                              <!--<p>{{3000 | currency: 'EUR'}}</p>
                              <p>{{3000}}</p>-->
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>