<div class="container">
    <div class="row">
        <div class="col-8 mx-auto p-2">
            <h1>Mi Primer Formulario (Formulario es {{form.valid ? 'Válido': 'Invalido'}})</h1>
            <form [formGroup]="form" class="row">
                <div class="col-6 p-1">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                        <mat-error>
                            <span *ngIf="form.get('nombre').hasError('required')">
                                Este campo es requerido
                            </span>
                            <span *ngIf="form.get('nombre').hasError('minlength')">
                                El mínimo de caracteres es de 2
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-6 p-1">
                    <mat-form-field class="w-100">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellido">
                        <mat-error>
                            <span *ngIf="form.get('apellido').hasError('required')">
                                Este campo es requerido
                            </span>
                            <span *ngIf="form.get('apellido').hasError('minlength')">
                                El mínimo de caracteres es de 5
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-12 text-center">
                    <button class="mx-1" mat-raised-button [disabled]="form.invalid" color="primary" (click)="save()">
                        Guardar
                    </button>
                    <button class="mx-1" mat-raised-button color="accent" (click)="printEstadoForm()">
                        Print Estado Campos
                    </button>
                </div>
            </form>
        </div>
        <div class="col-4 p-2 d-flex flex-column">
            <div class="mat-elevation-z2 rounded p-1" style="background-color: #f6f6f6;">
                <h2>Sub Listado de Personas</h2>
                <div class="w-100 border border-primary rounded p-1 my-1" *ngFor="let persona of personaService.getAll() | async">
                    <p>Nombre y Apellido: <b>{{persona.nombre}} {{persona.apellido}}</b></p>
                    <p>Rol: <b>{{persona.rol}}</b></p>
                    <p>Estado: <b>{{persona.activo ? 'Activo': 'Inactivo'}}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>